<div class="row justify-content-md-center">
    <div class="col-md-4 col-xs-12 mt-4">
        <h2 class="mb-4"><b>No se puede completar el proceso de Login</b></h2>
    </div>
</div>

<div class="row">
    <div class="d-flex justify-content-center p-3" style="background-color: #f1f1f1;">
        <a href="http://localhost:3000" class="btn btn-success"><i class="fas fa-sign-out-alt"></i> Login</a>
    </div>
</div>